$primary:  #350068;
$secondary: #ffc902;
$star_bg : url('../images/star-bg.svg');
.primary-color{
    color: $primary;
}
.primary-background{
    background-color: $primary;
}
.secondary-color{
    color: $secondary;
}
.secondary-background{
    background-color: $secondary;
}

.ul {
    .li:hover{
        background-color: $secondary;
    }
}
.header{
    background-color: #24292e;
background-image: $star_bg,linear-gradient($secondary, $primary 15%);
background-repeat: repeat-x;
background-position: center 0, 0 0, 0 0;
height: 500px;
}