$primary:  #350068;
$secondary: #ffc902;
$star_bg : url('../images/star-bg.svg');
.primary-color{
    color: $primary;
}
.primary-background{
    background-color: $primary;
}
.secondary-color{
    color: $secondary;
}
.secondary-background{
    background-color: $secondary;
}

.ul {
    .li:hover{
        background-color: $secondary;
    }
}
.header{
    background: $star_bg;
}